/* UserManagementScreen.css
.user-management-screen {
    background: url('./components/images/carouselImage6.png') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
  }
  
  .user-management-card {
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .user-management-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  h3 {
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  
  .button-container {
    text-align: right;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .card-title {
    display: flex;
    align-items: center;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  

   */


   /* UserManagementScreen.css */
/* .user-management-screen {
  background: url('path_to_background_image.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

h3 {
  color: #333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-title .me-2 {
  margin-right: 0.5rem;
} */
